{% extends 'layout-admin.html.twig' %}

{% block content %}
    <section class="container">
        <div class="row">
            <h1>Accueil administration</h1>
        </div>
    </section>
{% endblock %}