{% extends 'layout-admin.html.twig' %}

{% block content %}
    <section class="container">
        <div class="row">
            <h1>Accueil administration</h1>
        </div>
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item"><a href="/admin/restauration">Restauration : </a>ajout, modification et suppression de la carte light café / cantine</li>
                <li class="list-group-item"><a href="/admin/atelier">Eléments atelier : </a>ajout, modification et suppression des éléments de la carte light atelier</li>
                <li class="list-group-item"><a href="/admin/atelier/categories">Catégories atelier : </a>ajout, modification et suppression des catégories de la carte light atelier</li>
                <li class="list-group-item"><a href="/admin/bike">Vélos : </a>ajout, modification et suppression de vélos</li>
                <li class="list-group-item"><a href="/admin/carte">PDF : </a>modification des cartes pdf</li>
            </ul>
        </div>
    </section>
{% endblock %}