<section class="container">
    <div class="row">
        <form method="POST" enctype="multipart/form-data" action="/admin/atelier/carte" >
            <div class="form-group">
                <label for="pdf">Coix du nouveau PDF : </label>
                <input type="file" name="pdf" id="pdf">
                <input type="submit" value="Envoyer">
            </div>
        </form>
    </div>
</section>
