{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Restauration{% endblock %}

{% block content %}
<section class="drink">
        <div class ="container">
            <div class="row space-drink">
                <div class="col-md-6 col-xs-12">
                    <h2 class="text-left title style">Caf<span class="e-cute">é</span></h2>
                    <ul class="list-group-item">
                        <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration">Cras justo odio <span class="badge">2€</span></li>
                        <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration">Dapibus ac facilisis in <span class="badge">5€</span></li>
                        <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration">Morbi leo risus <span class="badge">6€</span></li>
                        <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration">Porta ac consectetur ac <span class="badge">2€</span></li>
                        <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration">Vestibulum at eros <span class="badge">4€</span></li>
                    </ul>
                </div>
                <div class="col-md-6 col-xs-12">
                        <img src="assets/images/imagecafé_fichiers/13501867_1210029162362188_2293744370630847726_n.jpg" class="img-responsive center-block" alt="Photo de boisson">
                </div>
            </div>
        </div>
</section>

<section class="eat">
    <div class="container">
        <div class="row space-eat">
            <div class="col-md-6 col-md-push-6 col-xs-12">
                <h2 class="text-left title-style">Cantine</h2>
                <ul class="list-group-item">
                    <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration">Cras justo odio<span class="badge">2€</span></li>
                    <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration">Dapibus ac facilisis in <span class="badge">5€</span></li>
                    <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration">Morbi leo risus <span class="badge">6€</span></li>
                    <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration">Porta ac consectetur ac <span class="badge">2€</span></li>
                    <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration">Vestibulum at eros <span class="badge">4€</span></li>
                </ul>
            </div>
            <div class="col-md-6 col-md-pull-6 col-xs-12">
                    <img src="assets/images/imagecafé_fichiers/13266850_1206529406066571_4039.jpg" class="img-responsive center-block" alt="Photo d'un plat">
            </div>
        </div>
    </div>
</section>
        <div class="link-menu">
            <button type="button" class="btn btn-default upload">Télécharger la carte complète en PDF</button>
        </div>
{% endblock %}
