{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Restauration{% endblock %}

{% block content %}
    <section class="home-drink-eat">
        <div class="container">
            <h1 class="text-center">Caf<span class="e-cute">é</span> et Cantine</h1>
            <h2 class="text-center addinfo">Pr<span class="e-cute">é</span>sentation des boissons et plats pr<span class="e-cute">é</span>f<span class="e-cute">é</span>r<span class="e-cute">é</span>es de nos clients</h2>
        </div>
    </section>
    <div class="link-menu">
        <div class="container text-center">
        <a href="assets/images/pdf/tarifs-cafe-web.pdf" target="_blank" class="btn btn-download">
            Télécharger la carte complète ici</a>
        </div>
    </div>
{% endblock %}
