{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Restauration{% endblock %}

{% block content %}
    <section class="home-drink-eat">
        <div class="container">
            <h1 class="text-center">Caf<span class="e-cute">é</span> et Cantine</h1>
            <h2 class="text-center addinfo">Pr<span class="e-cute">é</span>sentation des boissons et plats pr<span class="e-cute">é</span>f<span class="e-cute">é</span>r<span class="e-cute">é</span>es de nos clients</h2>
        </div>
    </section>
    <section class="drink">
        <div class ="container card">
            <div class="row space-drink">
                <div class="col-md-6 col-xs-12">
                    <h3 class="text-center title style">Caf<span class="e-cute">é</span></h3>
                    <ul class="list-group">
                        <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration"><span class="badge">€</span></li>
                        <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration"><span class="badge">€</span></li>
                        <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration"><span class="badge">€</span></li>
                        <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration"><span class="badge">€</span></li>
                        <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration"><span class="badge">€</span></li>
                    </ul>
                </div>
                <div class="col-md-6 col-xs-12">
                    <img src="assets/images/cafe_cantine/boissons.jpg" class="img-responsive center-block" alt="Photo de boisson">
                </div>
            </div>
        </div>
    </section>

    <section class="eat">
        <div class="container card">
            <div class="row space-eat">
                <div class="col-md-6 col-md-push-6 col-xs-12">
                    <h3 class="text-center title-style">Cantine</h3>
                    <ul class="list-group">
                        <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration"><span class="badge">€</span></li>
                        <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration"><span class="badge">€</span></li>
                        <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration"><span class="badge">€</span></li>
                        <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration"><span class="badge">€</span></li>
                        <li class="list-group-item"><img src="assets/images/wrench_and_fork_BLACK_16.svg" alt="Petit logo décoration"><span class="badge">€</span></li>
                    </ul>
                </div>
                <div class="col-md-6 col-md-pull-6 col-xs-12">
                    <img src="assets/images/cafe_cantine/salle_repas.jpg" class="img-responsive center-block" alt="Photo d'un plat">
                </div>
            </div>
        </div>
    </section>
    <div class="link-menu">
        <div class="container text-center">
        <a href="assets/images/pdf/tarifs-cafe-web.pdf" target="_blank" class="btn btn-download">
            Télécharger la carte complète ici</a>
        </div>
    </div>
{% endblock %}
