<footer>
    <div class=" footer-kustoms container-fluid">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="flux"></div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="address">
                    <address>
                        <strong>Tous les jours de 10h00 à 20h00, y compris le dimanche.</strong><br>
                        Fermé le mardi. <br>
                        36 ter rue Etienne Dolet 45000 Orléans <br>
                        <abbr title="Phone"> 09.83.38.51.81</abbr>
                        <a href="mailto:#">velo-cafe@kitchen-kustoms.com</a>
                    </address>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="map"></div>
            </div>
        </div>
    </div>
</footer>