<footer class="footer-kustoms pt-10 pb-10">
    <div class="container">
        <div class="row">
            <section class="col-md-4 hidden-sm hidden-xs">
                <div class="flux text-left">
                    <div id="fb-root"></div>
                    <div class="fb-page "
                         data-href="https://www.facebook.com/KitchenKustoms"
                         data-tabs="timeline"
                         data-height="300"
                         data-width="300"
                         data-adapt-container-width="true"
                         data-small-header="true"
                         data-hide-cover="false"
                         data-show-facepile="false">
                        <blockquote cite="https://www.facebook.com/KitchenKustoms" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/KitchenKustoms">Kitchen Kustoms</a>
                        </blockquote>
                    </div>
                </div>
            </section>

            <section class="col-md-4 col-xs-12 text-center white vertical-align height-300">
                <div class="row address">
                    <address>
                        <strong>Tous les jours de 10h00 à 20h00, y compris le dimanche.</strong><br>
                        Fermé le mardi. <br>
                        36 ter rue Etienne Dolet 45000 Orléans <br>
                        <abbr title="Phone"> 09.83.38.51.81</abbr>
                        <a href="mailto:#">velo-cafe@kitchen-kustoms.com</a>
                    </address>
                </div>
                <div class="row flex-center">
                    <div class="col-xs-6">
                        <a href="https://www.facebook.com/KitchenKustoms/" target="_blank">
                            <span class="fa-layers fa-2x">
                                <i class="fa fa-circle" style="color:black"></i>
                                <i class="fab fa-facebook-f" style="color:white" data-fa-transform="shrink-5"></i>
                            </span>
                        </a>
                        <a href="https://www.instagram.com/kitchenkustoms/" target="_blank">
                            <span class="fa-layers fa-2x">
                                <i class="fa fa-circle" style="color:black"></i>
                                <i class="fab fa-instagram" style="color:white" data-fa-transform="shrink-5"></i>
                            </span>
                        </a>
                        <a href="https://twitter.com/KitchenKustoms" target="_blank">
                            <span class="fa-layers fa-2x">
                                <i class="fa fa-circle" style="color:black"></i>
                                <i class="fab fa-twitter" style="color:white" data-fa-transform="shrink-5"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </section>

            <section class="col-md-4 hidden-sm hidden-xs map-container">
                <div class="flex-end">
                    <div id="map" class="height-300 width-300"></div>
                </div>
            </section>
        </div>
    </div>
</footer>