    <section class="hidden-sm hidden-xs bg-red pt-5 container-fluid">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-10">
                <a href="https://www.facebook.com/KitchenKustoms/" target="_blank">
                    <span class="fa-layers fa-1x">
                        <i class="fa fa-circle" style="color:black"></i>
                        <i class="fab fa-facebook-f" style="color:white" data-fa-transform="shrink-5"></i>
                    </span>
                </a>
                <a href="https://www.instagram.com/kitchenkustoms/" target="_blank">
                     <span class="fa-layers fa-1x">
                        <i class="fa fa-circle" style="color:black"></i>
                        <i class="fab fa-instagram" style="color:white" data-fa-transform="shrink-5"></i>
                     </span>
                </a>
                <a href="https://twitter.com/KitchenKustoms" target="_blank">
                    <span class="fa-layers fa-1x">
                        <i class="fa fa-circle" style="color:black"></i>
                        <i class="fab fa-twitter" style="color:white" data-fa-transform="shrink-5"></i>
                    </span>
                </a>
            </div>
        </div>
    </section>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand navbar-brand-centered">
                    <a href="#">
                        <img class="hidden-sm hidden-xs" src="assets/images/logo_kitchen_kustoms_nav.png" alt="logo kitchen kustoms">
                        <img class="visible-sm visible-xs" src="assets/images/logo_kitchen_kustoms_nav_mobile.png" height="80px" alt="logo kitchen kustoms">
                    </a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse text-center" id="navbar-brand-centered">
                <div class="active col-sm-2 button-bg-side">
                    <div class="button-bg">
                        <a href="restauration"> Caf<span>é</span> </a>
                    </div>
                </div>
                <div class="col-sm-2 button-bg-side">
                    <div class="button-bg">
                        <a href="atelier"> Atelier </a>
                    </div>
                </div>
                <div class="col-sm-2 button-bg-side navbar-right">
                    <div class="button-bg">
                        <a href="kustoms"> Kustoms </a>
                    </div>
                </div>

                <div class="col-sm-2 button-bg-side navbar-right">
                    <div class="button-bg">
                        <a href="boutique"> Boutique </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>