<nav class="navbar-kustoms container-fluid" role="navigation">
    <div class="row">
        <div class="hidden-xs col-sm-5 width-max">
            <div class="active col-sm-6">
                <a href="restauration">Caf<span>é</span>-Cantine</a>
            </div>
            <div class="col-sm-6">
                <a href="atelier">Atelier</a>
            </div>
        </div>
        <div class="navbar-header col-sm-2">
            <div class="col-xs-3 col-sm-12">
                <a class="" href="/">
                    <img class="hidden-xs" src="assets/images/logo_kitchen_kustoms_nav.png" alt="logo kitchen kustoms">
                    <img class="visible-xs" src="assets/images/logo_kitchen_kustoms_nav.png" height="80px" alt="logo kitchen kustoms">
                </a>
            </div>
            <div class="col-xs-3 col-xs-offset-6 visible-xs button-center">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div id="navbar-links" class="col-sm-5 collapse navbar-collapse width-max">
            <div class="visible-xs">
                <div class="active col-sm-6">
                    <a href="restauration">Caf<span>é</span>-Cantine</a>
                </div>
                <div class="col-sm-6">
                    <a href="atelier">Atelier</a>
                </div>
            </div>
            <div>
                <div class="col-sm-6">
                    <a href="kustoms">Kustoms</a>
                </div>
                <div class="col-sm-6">
                    <a href="boutique">Boutique</a>
                </div>
            </div>
        </div>
    </div>
</nav>