{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Atelier{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="text-center">L'Atelier</h1>
            <p class="text-presentation text-center">Pour faire réparer son vélo ou changer des pièces, passez par notre
                atelier&nbsp;!</p>
            <h2>Nos r<span class="e-cute">é</rspan>parations courantes</h2>
            <div class="row">
                {% for category, items in itemsGroupByCategories %}
                    <div class="col-sm-6">
                        <h3>{{ category }}
                        </h3>
                        <ul class="list-group">
                            {% for item in items %}
                                <li class="list-group-item list-group-item-kk">
                                    <span class="badge">{{ item.price|number_format(2,',') }} €</span>
                                    {{ item.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if loop.index0%2 ==1 %}
                        <div class="clearfix hidden-xs"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container text-center">
            <a href="assets/pdf/tarifs-atelier.pdf" target="_blank" class="btn btn-download">
                Télécharger la liste complète de nos tarifs</a>
        </div>
    </section>
{% endblock %}
