<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Kitchen Kustom{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/styles.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>
<header>
{% block header %}
    <nav style="display:none" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <a class="navbar-brand" href="#">Title</a>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Link</a>
            </li>
        </ul>
    </nav>
    <nav class="navbar navbar-default container-fluid" role="navigation">
        <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-2">
                <a class="navbar-brand text-center" href="/">
                    <img class="block-center" src="assets/images/logo_kitchen_kustoms_nav.png" alt="logo kitchen kustoms">
                </a>
            </div>
            <div class="col-sm-5"></div>
        </div>
    </nav>
{% endblock %}
</header>
<div id="content">
{% block content %}

{% endblock %}
</div>
{% block footer %}{% endblock %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>