/******* FONTS *******/

@font-face {
    font-family: linowrite;
    src: url('../fonts/linowrite.ttf');
}

@font-face {
    font-family: albertsthal;
    src: url('../fonts/Albertsthal Typewriter.ttf');
}

/******* FIN FONTS *******/

a {
    color: white;
    font-weight: bold;
    font-size: 1.6em;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

.width-max {
    width: 100%;
}

.pt-5 {
    padding-top: 5px;
}

/******* COLORS ********/

.bg-red {
    background-color: #A72222;
}

/******* FIN COLORS ********/

/******  NAVBAR  ******/

.navbar {
    border-radius: 0;
}

.navbar-kustoms {
    color: black;
    background-color: #A72222;
    font-family: linowrite;
    letter-spacing: 5px;
}

.navbar-kustoms span {
    font-family: albertsthal;
}

@media screen and (min-width: 767px) {
    nav {
        height: 150px;
    }

    nav div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.active a {
    color: black;
}

a.navbar-brand {
    padding: 0;
    width: 100%;
    height: 100%;
}

a.navbar-brand > img {
    margin: auto;
}

.navbar-brand {
    display: flex;
    justify-content: center;
}

button.navbar-toggle {
    border: 2px solid black;
}

button.navbar-toggle:hover {
    background-color: #eee;
}

button.navbar-toggle > span {
    background-color: black;
}

.button-center {
    height: 80px;
    padding-top: 14px;
}
/******  FIN NAVBAR  ******/

/****** FOOTER ******/
.footer-kustoms
{
    background-color: #A72222;
}
p
{
    text-align: center;
    color: white;
    font-family: roboto;

}